body {
  font-family: Axiforma, sans-serif;
  color: #2a355f;
}

.root {
  height: 100vh;
}

/* Dark mode orkaround */
.dark {
  .dark\:invert {
    filter: invert(1);
  }
}

button:focus {
  outline: none;
}
