.aside {
  @apply shadow-md;
  background-image: url('/images/plant.png');
  background-position: -2rem 108%;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav {
  .nav-item:not(:first-child) {
    @apply mt-8;
  }

  .nav-link {
    @apply flex items-center py-2 px-12;

    &.active {
      @apply font-semibold;
      @apply border-r-2 border-primary;

      .icon {
        @apply text-primary;
      }
    }
  }
}
