.chart {
  height: 15rem;
}

.chart-theoretical {
  .stroke {
    stroke: #f56565;
    stroke-width: 2;
  }

  .fill {
    fill: url(#theoreticalFill);
    fill-opacity: 0.5;
  }
}

.chart-actual {
  .stroke {
    stroke: #26a69a;
    stroke-width: 2;
  }

  .fill {
    fill: url(#actualFill);
    fill-opacity: 0.5;
  }
}
